@font-face {
  font-family: "montserrat", "Arial", sans-serif;
  font-display: auto;
  src: url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

.overlay {
  overflow: hidden;
  height: 100vh; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.page {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 6.94444vw 6.59722vw;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #ffffff;
  background-color: #5cc5b1;
  scroll-behavior: smooth; }
  @media (max-width: 767px) {
    .page {
      font-size: 26px; } }
  @media (max-width: 600px) {
    .page {
      font-size: 16px; } }

@supports (display: flex) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.login {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: cover;
  background: url("../img/login/Box.png"), -webkit-gradient(linear, left bottom, left top, color-stop(1.75%, #6ed4ff), color-stop(95.51%, #8fffa3));
  background: url("../img/login/Box.png"), linear-gradient(360deg, #6ed4ff 1.75%, #8fffa3 95.51%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100%;
  border-radius: 43px; }
  @media (max-width: 767px) {
    .login {
      background-color: #8fffa3;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(1.75%, #6ed4ff), color-stop(95.51%, #8fffa3));
      background: linear-gradient(360deg, #6ed4ff 1.75%, #8fffa3 95.51%); } }
  .login::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 6.66667vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 8.68056vw;
    height: 8.68056vw;
    background-image: url("../img/icons/icon-shop.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    @media (max-width: 767px) {
      .login::before {
        display: none; } }
  .login__header {
    padding: 5.20833vw; }
    @media (max-width: 767px) {
      .login__header {
        width: 100%;
        text-align: center; } }
    .login__header h1 {
      margin-bottom: 25px;
      font-family: "montserrat Bold", "Arial", sans-serif;
      font-weight: bold;
      font-size: 3.61111vw;
      line-height: 4.375vw;
      letter-spacing: 0.472727px; }
      @media (max-width: 767px) {
        .login__header h1 {
          font-size: 4.86111vw; } }
    .login__header p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.66667vw;
      line-height: 2.01389vw;
      letter-spacing: 0.48px; }
      @media (max-width: 767px) {
        .login__header p {
          font-size: 3.47222vw; } }
  .login__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #ffffff;
    border-radius: 41px;
    padding: 5.20833vw;
    margin-top: 84px; }
    @media (max-width: 767px) {
      .login__form {
        width: 100%; } }
    .login__form::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -84px;
      left: 0;
      width: 100%;
      height: 104px;
      background-color: #ffffff;
      opacity: 0.48;
      border-top-left-radius: 41px;
      border-top-right-radius: 41px; }
    .login__form::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: -44px;
      left: 0;
      width: 100%;
      height: 84px;
      background-color: #ffffff;
      opacity: 0.73;
      border-top-left-radius: 41px;
      border-top-right-radius: 41px; }

.form-login {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form-login__header {
    margin-bottom: 22px; }
    .form-login__header h3 {
      margin-bottom: 22px;
      font-family: "montserrat Bold", "Arial", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3.61111vw;
      line-height: 4.375vw;
      text-align: center;
      letter-spacing: 0.472727px;
      color: #000000; }
      @media (max-width: 767px) {
        .form-login__header h3 {
          font-size: 4.86111vw; } }
    .form-login__header p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.38889vw;
      line-height: 1.66667vw;
      text-align: center;
      letter-spacing: 0.4px;
      color: #808080; }
      @media (max-width: 767px) {
        .form-login__header p {
          font-size: 3.47222vw; } }
  .form-login__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form-login__footer p {
      margin-bottom: 22px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.531818px;
      color: #8b8b8b; }
      @media (max-width: 767px) {
        .form-login__footer p {
          font-size: 3.47222vw; } }
    .form-login__footer a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 22px;
      padding: 0.97222vw 2.77778vw;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      color: #ffffff;
      background: -webkit-gradient(linear, right top, left top, from(#67e4fe), color-stop(52.4%, #35abd3));
      background: linear-gradient(270deg, #67e4fe 0%, #35abd3 52.4%);
      border-radius: 27.5px;
      text-decoration: none;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      @media (max-width: 767px) {
        .form-login__footer a {
          padding: 1em; } }
      .form-login__footer a:focus, .form-login__footer a:hover {
        opacity: 0.5;
        text-decoration: none; }
    .form-login__footer svg {
      margin-right: 20px; }
  .form-login label {
    padding-bottom: 22px; }
  .form-login input {
    display: inline-block;
    vertical-align: middle;
    padding: 1.31944vw 3.125vw;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.315151px;
    color: #a0a0a0;
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 42.5px;
    outline: none;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; }
    @media (max-width: 767px) {
      .form-login input {
        padding: 1em; } }
    .form-login input:focus, .form-login input:hover {
      opacity: 0.5;
      outline: none; }
  .form-login button[type="submit"] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 22px;
    padding: 1.31944vw;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 4.2px;
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, color-stop(34.25%, #6ed4ff), color-stop(96.88%, #8fffa3));
    background: linear-gradient(90deg, #6ed4ff 34.25%, #8fffa3 96.88%);
    opacity: 0.79;
    border: none;
    border-radius: 27.5px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .form-login button[type="submit"] {
        padding: 1em; } }
    .form-login button[type="submit"]:focus, .form-login button[type="submit"]:hover {
      opacity: 0.5;
      outline: none; }
    .form-login button[type="submit"] svg {
      position: absolute;
      top: 50%;
      right: 15px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
