@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

@font-face {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Arial.woff2") format("woff2"), url("fonts/Arial.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.overlay {
  overflow: hidden;
  height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 110px;
  }
}

.page {
  height: 100%;
}
.page__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 100%;
}
@media (min-width: 768px) {
  .page__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr 50%;
  align-items: center;
}
.page-header__nav {
  margin-left: auto;
}

.page-body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  scroll-behavior: smooth;
}

@supports (display: flex) {
  .page-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.header-and-promo {
  position: relative;
}
.header-and-promo__header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .header-and-promo__header {
    z-index: 2;
    position: absolute;
  }
}

.promo {
  position: relative;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .promo {
    padding-top: 140px;
  }
}
.promo::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 305px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 0;
  background-image: url("../img/promo/promo-bg-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/promo/promo-bg-mobile@2x.jpg");
  }
}
@media (min-width: 600px) {
  .promo::before {
    width: 0;
  }
}
@media (min-width: 1200px) {
  .promo::before {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 720px 100%;
    background-image: url("../img/promo/promo-bg-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/promo/promo-bg-desktop@2x.jpg");
  }
}
.promo::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 305px;
  background-color: #68b738;
  opacity: 0.85;
}
@media (min-width: 600px) {
  .promo::after {
    width: 0;
    height: 0;
  }
}
@media (min-width: 1200px) {
  .promo::after {
    width: 50%;
    height: 100%;
  }
}
.promo__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  .promo__wrapper {
    grid-template-columns: 1fr 63%;
  }
}
.promo__info {
  max-width: 415px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 600px) {
  .promo__info {
    padding-top: 30px;
    margin-left: 80px;
    text-align: left;
    background-color: transparent;
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .promo__info {
    padding-top: 110px;
    margin-left: 0;
  }
}
.promo__info p {
  margin: 0;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .promo__info p {
    padding-bottom: 50px;
  }
}
.promo__link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 14px 26px;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .promo__link {
    position: relative;
    width: auto;
    left: 0;
    transform: translateX(0);
  }
}
.promo__pic {
  width: 280px;
  height: 270px;
}
@media (min-width: 600px) {
  .promo__pic {
    margin-top: -10%;
    position: relative;
    z-index: -1;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .promo__pic {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1200px) {
  .promo__pic {
    margin-top: 0;
    z-index: 0;
    text-align: left;
    width: 552px;
    height: 499px;
  }
}
.promo__pic img {
  width: 100%;
  height: 100%;
}

.navigation {
  position: relative;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
  color: #000000;
  background: #ffffff;
}
@media (min-width: 600px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    padding: 0 110px;
  }
}
.navigation__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
}
@media (min-width: 600px) {
  .navigation__header {
    width: auto;
  }
}
.navigation__logo {
  width: 34px;
  height: 38px;
}
.navigation__logo:focus, .navigation__logo:hover {
  opacity: 0.8;
}
.navigation__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .navigation__logo {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1200px) {
  .navigation__logo {
    width: 202px;
    height: 60px;
  }
}
.navigation__logo img {
  width: 100%;
  height: 100%;
}
.navigation__logo-text {
  width: 101px;
  height: 18px;
}
@media (min-width: 600px) {
  .navigation__logo-text {
    display: none;
  }
}
.navigation__toggle {
  display: none;
  z-index: 5;
  position: relative;
  top: auto;
  right: 0;
  padding: 0;
  height: 27px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 599px) {
  .navigation__toggle {
    display: block;
  }
}
.navigation__toggle--closed .navigation__icon {
  fill: #000000;
}
.navigation__toggle--closed .navigation__line--1 {
  transform: rotate(0deg) translate(0%, 0%);
}
.navigation__toggle--closed .navigation__line--2 {
  opacity: 1;
}
.navigation__toggle--closed .navigation__line--3 {
  transform: rotate(0deg) translate(0%, 0%);
}
.navigation__toggle--opened .navigation__icon {
  fill: #000000;
}
.navigation__toggle--opened .navigation__line--1 {
  transform: rotate(45deg) translate(20%, -5%);
}
.navigation__toggle--opened .navigation__line--2 {
  opacity: 0;
}
.navigation__toggle--opened .navigation__line--3 {
  transform: rotate(-45deg) translate(-50%, 5%);
}
.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 600px) {
  .navigation__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.navigation__list--active {
  display: block;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.navigation__list--closed {
  display: none;
}
.navigation__item {
  width: 100%;
  text-align: center;
  margin-bottom: -1px;
}
@media (min-width: 600px) {
  .navigation__item {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navigation__item {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media (min-width: 600px) {
  .navigation__item--active .navigation__link::before {
    background-color: #68b738;
  }
}
.navigation__link {
  position: relative;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-size: calc(
    20px + -2 * ((100vw - 320px) / 1120)
  );
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 22px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.navigation__link::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
.navigation__link:focus, .navigation__link:hover {
  opacity: 0.6;
}
.navigation__link:active::before {
  background-color: #68b738;
}
@media (min-width: 600px) {
  .navigation__link {
    padding: 22px 0 22px 10px;
    font-size: 18px;
    font-size: calc(
    18px + 2 * ((100vw - 320px) / 1120)
  );
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    border: none;
  }
}
@media (min-width: 1200px) {
  .navigation__link {
    padding: 22px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 600px) {
  .navigation--promo .navigation__item--active .navigation__link::before {
    background-color: #ffffff;
  }
}
@media (min-width: 600px) {
  .navigation--promo .navigation__item--active .navigation__link:active::before {
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .navigation--promo .navigation__link {
    color: #ffffff;
  }
}

.navigation {
  position: relative;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
  color: #000000;
  background: #ffffff;
}
@media (min-width: 600px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    padding: 0 110px;
  }
}
.navigation__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
}
@media (min-width: 600px) {
  .navigation__header {
    width: auto;
  }
}
.navigation__logo {
  width: 34px;
  height: 38px;
}
.navigation__logo:focus, .navigation__logo:hover {
  opacity: 0.8;
}
.navigation__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .navigation__logo {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1200px) {
  .navigation__logo {
    width: 202px;
    height: 60px;
  }
}
.navigation__logo img {
  width: 100%;
  height: 100%;
}
.navigation__logo-text {
  width: 101px;
  height: 18px;
}
@media (min-width: 600px) {
  .navigation__logo-text {
    display: none;
  }
}
.navigation__toggle {
  display: none;
  z-index: 5;
  position: relative;
  top: auto;
  right: 0;
  padding: 0;
  height: 27px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 599px) {
  .navigation__toggle {
    display: block;
  }
}
.navigation__toggle--closed .navigation__icon {
  fill: #000000;
}
.navigation__toggle--closed .navigation__line--1 {
  transform: rotate(0deg) translate(0%, 0%);
}
.navigation__toggle--closed .navigation__line--2 {
  opacity: 1;
}
.navigation__toggle--closed .navigation__line--3 {
  transform: rotate(0deg) translate(0%, 0%);
}
.navigation__toggle--opened .navigation__icon {
  fill: #000000;
}
.navigation__toggle--opened .navigation__line--1 {
  transform: rotate(45deg) translate(20%, -5%);
}
.navigation__toggle--opened .navigation__line--2 {
  opacity: 0;
}
.navigation__toggle--opened .navigation__line--3 {
  transform: rotate(-45deg) translate(-50%, 5%);
}
.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 600px) {
  .navigation__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.navigation__list--active {
  display: block;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.navigation__list--closed {
  display: none;
}
.navigation__item {
  width: 100%;
  text-align: center;
  margin-bottom: -1px;
}
@media (min-width: 600px) {
  .navigation__item {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navigation__item {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media (min-width: 600px) {
  .navigation__item--active .navigation__link::before {
    background-color: #68b738;
  }
}
.navigation__link {
  position: relative;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-size: calc(
    20px + -2 * ((100vw - 320px) / 1120)
  );
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 22px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.navigation__link::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
.navigation__link:focus, .navigation__link:hover {
  opacity: 0.6;
}
.navigation__link:active::before {
  background-color: #68b738;
}
@media (min-width: 600px) {
  .navigation__link {
    padding: 22px 0 22px 10px;
    font-size: 18px;
    font-size: calc(
    18px + 2 * ((100vw - 320px) / 1120)
  );
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    border: none;
  }
}
@media (min-width: 1200px) {
  .navigation__link {
    padding: 22px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 600px) {
  .navigation--promo .navigation__item--active .navigation__link::before {
    background-color: #ffffff;
  }
}
@media (min-width: 600px) {
  .navigation--promo .navigation__item--active .navigation__link:active::before {
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .navigation--promo .navigation__link {
    color: #ffffff;
  }
}

.contacts {
  position: relative;
}
@media (min-width: 1200px) {
  .contacts {
    padding: 95px 0 104px;
  }
}
.contacts--info-bg .contacts__info {
  background-color: #ffffff;
}
.contacts__wrapper {
  padding: 0;
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    padding: 0 30px;
  }
}
.contacts__info {
  z-index: 2;
  position: relative;
  padding: 28px 20px;
  display: flex;
  flex-wrap: wrap;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__info {
    padding: 60px 40px 60px;
  }
}
@media (min-width: 1200px) {
  .contacts__info {
    padding: 60px 75px 50px;
    max-width: 570px;
    background-color: #ffffff;
  }
}
.contacts__title {
  margin: 0;
  width: 50%;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 21px;
  }
}
.contacts__text {
  width: 50%;
  max-width: 160px;
  margin-left: auto;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__text {
    width: 40%;
    font-size: 16px;
  }
}
.contacts__street {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  color: inherit;
}
@media (min-width: 768px) {
  .contacts__street {
    margin-bottom: 20px;
  }
}
.contacts__city {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  color: inherit;
}
.contacts iframe {
  width: 100%;
  height: 100%;
  min-height: 362px;
}
@media (min-width: 768px) {
  .contacts iframe {
    min-height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts iframe {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.page-footer {
  background-color: #f2f2f2;
}
.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 55px 30px 61px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    padding: 59px 110px 56px;
  }
}
.page-footer__item {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .page-footer__item {
    width: auto;
  }
}
.page-footer__item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__item:not(:last-child)::before {
    background-color: transparent;
  }
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social__item {
  margin-right: 28px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link--vk {
  width: 28px;
  height: 20px;
}
.social__link--inst {
  width: 23px;
  height: 23px;
}
.social__link--fb {
  width: 28px;
  height: 33px;
}
.social__link--fb svg {
  fill: none;
}

.gift {
  max-width: 100%;
  padding: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #68b738;
  background-image: url("../../img/gift/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .gift {
    background-image: url("../img/gift/gift-photo-mobile@2x.jpg");
  }
}
@media (min-width: 600px) {
  .gift {
    background-image: url("../img/gift/gift-photo-tablet.jpg");
  }
}
@media (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) and (min-resolution: 2dppx) {
  .gift {
    background-image: url("../img/gift/gift-photo-tablet@2x.jpg");
  }
}
@media (min-width: 768px) {
  .gift {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .gift {
    max-width: 245px;
    flex-direction: column;
    background-image: url("../img/gift/gift-photo-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .gift {
    background-image: url("../img/gift/gift-photo-desktop@2x.jpg");
  }
}
.gift__icon {
  width: 80px;
  height: 84px;
}
.gift__text {
  max-width: 161px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-align: center;
}
@media (min-width: 768px) {
  .gift__text {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .gift__text {
    text-align: center;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-size: calc(
    36px + 24 * ((100vw - 320px) / 1120)
  );
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: item;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
@media (min-width: 600px) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 95px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 95px;
  }
}
.advantages__item {
  position: relative;
  padding: 0;
  padding-left: 80px;
  margin: 0 auto 20px;
  min-height: 60px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 600px) {
  .advantages__item {
    padding: 30px 0;
    padding-top: 110px;
    margin: 0 auto;
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 600px) {
  .advantages__item::before {
    counter-increment: item;
    content: counter(item);
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
}
.advantages__item--icon-1::after, .advantages__item--icon-2::after, .advantages__item--icon-3::after, .advantages__item--icon-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .advantages__item--icon-1::after, .advantages__item--icon-2::after, .advantages__item--icon-3::after, .advantages__item--icon-4::after {
    width: 80px;
    height: 80px;
  }
}
.advantages__item--icon-2::after {
  background-image: url("../../img/icons/icon-2.svg");
}
.advantages__item--icon-3::after {
  background-image: url("../../img/icons/icon-3.svg");
}
.advantages__item--icon-4::after {
  background-image: url("../../img/icons/icon-4.svg");
}
.advantages__icon {
  fill: none;
}

@media (min-width: 1200px) {
  .programs {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}
.programs__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 840px) {
  .programs__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .programs__wrapper {
    gap: 80px;
  }
}
.programs__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon title" "text text" "link link";
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 40px 30px 40px 50px;
  background-color: #f2f2f2;
}
@media (min-width: 600px) {
  .programs__item {
    grid-template-columns: minmax(377px) 1fr;
    grid-template-areas: "title icon" "text icon" "link icon";
  }
}
@media (min-width: 840px) {
  .programs__item {
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon title" "text text" "link link";
  }
}
.programs__icon {
  grid-area: icon;
  width: 50px;
  height: 53px;
}
@media (min-width: 600px) {
  .programs__icon {
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 840px) {
  .programs__icon {
    width: 100px;
    height: 106px;
  }
}
.programs__icon img {
  width: 100%;
  height: 100%;
}
.programs__icon--pro {
  width: 67px;
  height: 50px;
}
@media (min-width: 600px) {
  .programs__icon--pro {
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 840px) {
  .programs__icon--pro {
    width: 134px;
    height: 100px;
  }
}
.programs__title {
  grid-area: title;
  align-self: center;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .programs__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .programs__title {
    text-align: center;
  }
}
.programs__text {
  grid-area: text;
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 600px) {
  .programs__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.programs__link {
  grid-area: link;
  display: inline-block;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 600px) {
  .programs__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.example {
  position: relative;
  padding-top: 70px;
}
.example__title {
  margin: 0;
  margin-bottom: 75px;
  font-size: 60px;
  line-height: 100%;
}
.example__body {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
.example__info {
  padding-top: 70px;
  max-width: 440px;
}
.example__text {
  margin: 0;
  margin-bottom: 70px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}

.example-comparison {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 520px;
  overflow: hidden;
}
.example-comparison__item {
  display: block;
}
.example-comparison__item--new {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 520px;
  height: 100%;
}
.example-comparison img {
  width: 100%;
  height: 100%;
}
.example-comparison__before {
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (min-width: 600px) {
  .catalog__list {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.catalog__more {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 40px;
  padding-top: 50px;
  height: calc(100% - 80px);
  max-width: 324px;
  text-align: center;
  border: 2px solid #f2f2f2;
}
.catalog__more-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
}
.catalog__more-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 110%;
  color: #111111;
  text-transform: uppercase;
}
.catalog__more-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 112%;
  color: #444444;
}
.catalog__more-link {
  width: 100%;
  margin-top: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: #444444;
  background-color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 100%;
}

.product {
  padding-top: 80px;
  max-width: 324px;
}
.product__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  -moz-column-gap: 36px;
       column-gap: 36px;
  grid-template-areas: "pic title title" "pic info info" "btn btn btn";
  padding: 30px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
@media (min-width: 600px) {
  .product__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "title" "info" "btn";
    padding: 160px 37px 40px;
    background-color: #f2f2f2;
    border: none;
  }
}
.product__title {
  grid-area: title;
  margin: 0;
  font-size: 16px;
  line-height: 125%;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .product__title {
    font-size: 20px;
    line-height: 105%;
    text-align: center;
  }
}
.product__title span {
  display: block;
}
.product__pic {
  grid-area: pic;
  padding-top: 15px;
  width: 68px;
  height: 86px;
}
@media (min-width: 600px) {
  .product__pic {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 170px;
    padding: 0;
  }
}
.product__pic--1000 {
  width: 68px;
  height: 86px;
}
@media (min-width: 600px) {
  .product__pic--1000 {
    width: 170px;
    height: 200px;
  }
}
.product__info {
  grid-area: info;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .product__info {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.product__info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 133%;
}
@media (min-width: 600px) {
  .product__info-item {
    padding: 5px 0;
    font-size: 16px;
    line-height: 100%;
    border-bottom: 1px solid #cdcdcd;
  }
}
.product__button {
  grid-area: btn;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}

.other-goods {
  padding-bottom: 40px;
  overflow: hidden;
}
.other-goods__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media (min-width: 1200px) {
  .other-goods__wrapper {
    gap: 80px;
    grid-template-columns: 1fr 245px;
  }
}
.other-goods__title {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .other-goods__title {
    padding: 0 70px;
  }
}
.other-goods__title::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .other-goods__title::before {
    left: 0;
  }
}
.other-goods__title h2, .other-goods__title h3 {
  display: inline-block;
  margin: 0 75px 0 0;
  padding: 20px;
  padding-left: 0;
  font-size: calc(
    24px + 12 * ((100vw - 320px) / 1120)
  );
  line-height: 100%;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .other-goods__title h2, .other-goods__title h3 {
    margin: 0;
    padding: 30px 35px 40px 40px;
  }
}
.other-goods__table {
  border-collapse: collapse;
  margin-bottom: 45px;
}
.other-goods__table tr {
  display: grid;
  grid-template-columns: 1fr auto auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: -1px;
  padding: 0 30px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 1200px) {
  .other-goods__table tr {
    display: table-row;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}
.other-goods__table td {
  padding: 25px 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 125%;
  color: #444444;
}
@media (min-width: 768px) {
  .other-goods__table td {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .other-goods__table td {
    text-align: left;
  }
}
.other-goods__table td:first-child {
  grid-column: 1/-1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 768px) {
  .other-goods__table td:first-child {
    grid-column: 1/2;
  }
}
.other-goods__table td:last-child {
  grid-column: 1/-1;
}
.other-goods__button {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}
.other-goods__gift {
  margin-bottom: 45px;
}

.form {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.form__wrapper {
  max-width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.form__caption {
  margin: 0;
  padding-bottom: 35px;
  max-width: 323px;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
}
.form__title {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__title {
    padding: 0 70px;
  }
}
.form__title::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__title::before {
    left: 0;
  }
}
.form__title h2, .form__title h3 {
  display: inline-block;
  margin: 0 75px 0 0;
  padding: 20px;
  padding-left: 0;
  font-size: calc(
    24px + 12 * ((100vw - 320px) / 1120)
  );
  line-height: 100%;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .form__title h2, .form__title h3 {
    margin: 0;
    padding: 30px 35px 40px 40px;
  }
}
.form__inner {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form__inner {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.form__base {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 30px 0;
}
.form__base li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.form__base input {
  width: 95%;
  margin-left: 5%;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  text-transform: uppercase;
  font-size: calc(
    16px + 4 * ((100vw - 320px) / 1120)
  );
  line-height: 150%;
}
.form__theme {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__theme {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}
.form__theme label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 60px;
  padding-top: 5px;
  margin-bottom: 15px;
  min-height: 40px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}
.form__theme input:checked + label[for^=theme-]::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #68b738;
}
.form__theme label[for^=theme-]::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: 0 0;
  width: 40px;
  height: 40px;
  border-width: 1px;
  border-color: #cdcdcd;
  border-style: solid;
}
.form__contacts {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form__contacts {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.form__contacts li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form__contacts input {
  width: 80%;
  margin-left: 3%;
  padding: 10px 45px 10px 20px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  text-transform: uppercase;
  font-size: calc(
    16px + 4 * ((100vw - 320px) / 1120)
  );
  line-height: 150%;
}
@media (min-width: 768px) {
  .form__contacts input {
    margin-left: 7%;
  }
}
.form__contacts input[type=email] {
  background: url("../img/icons/icon-email.svg") no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: auto;
}
.form__contacts input[type=tel] {
  background: url("../img/icons/icon-phone.svg") no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: auto;
}
.form__comment textarea {
  width: 100%;
  min-height: 175px;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  text-transform: uppercase;
  font-size: calc(
    16px + 4 * ((100vw - 320px) / 1120)
  );
  line-height: 150%;
  resize: none;
}
.form__other-info {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .form__other-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .form__other-info {
    grid-template-columns: repeat(4, 1fr);
  }
}
.form__other-info label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 60px;
  padding-top: 5px;
  margin-bottom: 15px;
  min-height: 40px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}
.form__other-info input:checked + label[for^=info-]::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/icons/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.form__other-info label[for^=info-]::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
  background: 0 0;
  width: 40px;
  height: 40px;
  border-width: 1px;
  border-color: #cdcdcd;
  border-style: solid;
}
.form__footer {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form__footer {
    padding-top: 30px;
    padding-bottom: 80px;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.form button[type=submit] {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 13px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}