@font-face {
  font-family: "Montserrat", "Arial", sans-serif;
  font-display: auto;
  src: url("../fonts/Montserrat.woff2") format("woff2"), url("../fonts/Montserrat.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-display: auto;
  src: url("../fonts/Montserratbold.woff2") format("woff2"), url("../fonts/Montserratbold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

html {
  height: 100%; }

.overlay {
  overflow: hidden;
  height: 100vh; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.page {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #011c40;
  scroll-behavior: smooth; }

@supports (display: flex) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1023px) {
    .container {
      padding: 0 35px; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 8px; } }

.header-and-promo {
  background-image: url("../img/promo/promo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00437c; }
  @media (max-width: 1023px) {
    .header-and-promo {
      background-image: url("../img/promo/promo-tablet.jpg"); } }
  @media (max-width: 767px) {
    .header-and-promo {
      background-image: url("../img/promo/promo-mob.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .header-and-promo {
      background-image: url("../img/promo/promo-mob@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    .header-and-promo {
      background-image: url("../img/promo/promo-tablet@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header-and-promo {
      background-image: url("../img/promo/promo@2x.jpg"); } }

.page-header {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 35px 0;
  background-color: transparent; }
  @media (max-width: 1023px) {
    .page-header {
      padding: 27px 0; } }
  @media (max-width: 767px) {
    .page-header {
      padding: 20px 0; } }
  .page-header--mob {
    background-color: #f9fbfd; }
    .page-header--mob .page-header__logo {
      display: none; }
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1023px) {
      .page-header__container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    @media (max-width: 767px) {
      .page-header__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }

.logo {
  display: block;
  width: 70px;
  height: 38px; }
  @media (max-width: 1023px) {
    .logo {
      width: 42px; } }
  @media (max-width: 767px) {
    .logo {
      width: 42px; } }
  .logo--mob {
    z-index: 5;
    position: absolute;
    left: 15px; }
    .logo--mob .logo__pic {
      fill: #011c40; }
  .logo__pic {
    fill: #f9fbfd; }
  .logo img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }

.navigation__toggle {
  display: none;
  z-index: 5;
  position: absolute;
  top: 21px;
  right: 2px;
  height: 27px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 767px) {
    .navigation__toggle {
      display: block; } }
  .navigation__toggle--closed .navigation__icon {
    fill: #f9fbfd; }
  .navigation__toggle--closed .navigation__line--1 {
    -webkit-transform: rotate(0deg) translate(0%, 0%);
            transform: rotate(0deg) translate(0%, 0%); }
  .navigation__toggle--closed .navigation__line--2 {
    opacity: 1; }
  .navigation__toggle--closed .navigation__line--3 {
    -webkit-transform: rotate(0deg) translate(0%, 0%);
            transform: rotate(0deg) translate(0%, 0%); }
  .navigation__toggle--opened {
    top: 19px;
    right: 3px; }
    .navigation__toggle--opened .navigation__icon {
      fill: #011c40; }
    .navigation__toggle--opened .navigation__line--1 {
      -webkit-transform: rotate(45deg) translate(20%, -5%);
              transform: rotate(45deg) translate(20%, -5%); }
    .navigation__toggle--opened .navigation__line--2 {
      opacity: 0; }
    .navigation__toggle--opened .navigation__line--3 {
      -webkit-transform: rotate(-45deg) translate(-50%, 5%);
              transform: rotate(-45deg) translate(-50%, 5%); }

.navigation__header {
  margin-bottom: 20px; }

.navigation__logo {
  display: none; }

.navigation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 767px) {
    .navigation__inner {
      display: none; } }
  .navigation__inner--active {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 88px 15px 30px;
    background-color: #f9fbfd; }
    .navigation__inner--active .navigation__logo {
      display: block;
      margin-bottom: 30px; }
    .navigation__inner--active .navigation__item {
      margin-bottom: 19px;
      margin-right: 0; }
    .navigation__inner--active .navigation__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #011c40; }
  .navigation__inner--closed {
    display: none; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (max-width: 767px) {
    .navigation__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.navigation__item:not(:last-child) {
  margin-right: 34px; }
  @media (max-width: 1023px) {
    .navigation__item:not(:last-child) {
      margin-right: 25px; } }
  @media (max-width: 767px) {
    .navigation__item:not(:last-child) {
      margin-right: 23px; } }

.navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9fbfd;
  text-decoration: none; }
  .navigation__link:focus, .navigation__link:hover {
    opacity: 0.5; }
  @media (max-width: 1023px) {
    .navigation__link {
      font-size: 14px;
      line-height: 17px; } }
  @media (max-width: 767px) {
    .navigation__link {
      font-size: 12px;
      line-height: 15px; } }

.navigation--footer .navigation__item {
  margin-bottom: 0; }
  .navigation--footer .navigation__item:not(:last-child) {
    margin-right: 32px; }
  @media (max-width: 1023px) {
    .navigation--footer .navigation__item {
      margin-bottom: 0; }
      .navigation--footer .navigation__item:not(:last-child) {
        margin-right: 24px; } }

.navigation--footer .navigation__link {
  display: block;
  font-size: 16px;
  line-height: 20px; }
  @media (max-width: 1023px) {
    .navigation--footer .navigation__link {
      font-size: 12px;
      line-height: 15px; } }
  @media (max-width: 767px) {
    .navigation--footer .navigation__link {
      margin-bottom: 18px; } }

.promo {
  position: relative;
  width: 100%;
  min-height: 540px;
  color: #f9fbfd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1023px) {
    .promo {
      min-height: 546px; } }
  @media (max-width: 767px) {
    .promo {
      min-height: 423px; } }
  .promo__container {
    padding-top: 162px;
    max-width: 1125px; }
    @media (max-width: 1023px) {
      .promo__container {
        padding-top: 178px; } }
    @media (max-width: 767px) {
      .promo__container {
        padding-top: 100px; } }
  .promo h1 {
    margin: 0 0 12px 0;
    margin-bottom: 12px;
    font-size: 54px;
    line-height: 66px;
    font-weight: bold; }
    @media (max-width: 1023px) {
      .promo h1 {
        margin-bottom: 11px;
        font-size: 50px;
        line-height: 61px; } }
    @media (max-width: 767px) {
      .promo h1 {
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 125%; } }
    @media (max-width: 767px) {
      .promo h1 span {
        display: block; } }
  .promo p {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em; }
    @media (max-width: 1023px) {
      .promo p {
        font-size: 18px;
        line-height: 22px; } }
    @media (max-width: 767px) {
      .promo p {
        padding-right: 60px;
        font-size: 16px;
        line-height: 140%; } }

.about {
  padding: 110px 0 117px; }
  @media (max-width: 1023px) {
    .about {
      padding: 90px 0 60px; } }
  @media (max-width: 767px) {
    .about {
      padding: 57px 0 60px; } }
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about__info {
    width: 50%;
    padding: 65px 40px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1023px) {
      .about__info {
        width: 52%;
        padding: 0; } }
    @media (max-width: 767px) {
      .about__info {
        width: 100%; } }
  .about__pic {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 48%; }
    @media (max-width: 767px) {
      .about__pic {
        width: auto; } }
    .about__pic img {
      padding-top: 12px;
      max-width: 100%;
      width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media (max-width: 767px) {
        .about__pic img {
          padding-top: 0; } }
  .about__text h2 {
    margin: 0;
    margin-bottom: 26px;
    font-size: 28px;
    line-height: 150%;
    font-weight: 600;
    max-width: 100%; }
    @media (max-width: 1023px) {
      .about__text h2 {
        margin-bottom: 15px;
        max-width: 205px;
        font-size: 26px;
        line-height: 146%; } }
    @media (max-width: 767px) {
      .about__text h2 {
        margin-bottom: 17px;
        max-width: 190px;
        font-size: 24px;
        line-height: 140%; } }
  .about__text p {
    margin: 0;
    padding-right: 18px;
    margin-bottom: 35px;
    font-size: 16px; }
    @media (max-width: 1023px) {
      .about__text p {
        padding-right: 25px;
        letter-spacing: 0.007em; } }
    @media (max-width: 767px) {
      .about__text p {
        margin-bottom: 32px;
        padding-right: 0;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 0.04em; } }

.advantage {
  padding: 107px 0 90px;
  background-image: url("../img/advantage/advantage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dde9f5; }
  @media (max-width: 1023px) {
    .advantage {
      padding: 87px 0 70px;
      background-image: url("../img/advantage/advantage-tablet.jpg"); } }
  @media (max-width: 767px) {
    .advantage {
      padding: 58px 0 36px;
      background-image: url("../img/advantage/advantage-mob.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .advantage {
      background-image: url("../img/advantage/advantage-mob@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    .advantage {
      background-image: url("../img/advantage/advantage-tablet@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage {
      background-image: url("../img/advantage/advantage@2x.jpg"); } }
  .advantage__container h2 {
    margin: 0 auto 50px;
    font-size: 28px;
    line-height: 150%;
    font-weight: 600;
    max-width: 100%;
    text-align: center; }
    @media (max-width: 1023px) {
      .advantage__container h2 {
        margin-bottom: 50px;
        font-size: 26px; } }
    @media (max-width: 767px) {
      .advantage__container h2 {
        margin: 0 auto 32px;
        font-size: 24px;
        line-height: 140%; } }
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none; }
  .advantage__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 30px 30px 26px 30px;
    margin-bottom: 30px;
    max-width: calc(33.33% - 27px);
    width: 100%;
    background-color: #f9fbfd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .advantage__item:not(:nth-child(3n)) {
      margin-right: 40px; }
    @media (max-width: 1023px) {
      .advantage__item {
        padding: 24px 13px 20px 20px;
        max-width: calc(33.33% - 17px); }
        .advantage__item:not(:nth-child(3n)) {
          margin-right: 25px; } }
    @media (max-width: 767px) {
      .advantage__item {
        margin: 0;
        margin-bottom: 30px;
        padding: 25px 16px 19px; } }
    @media (max-width: 650px) {
      .advantage__item {
        max-width: 100%; }
        .advantage__item:not(:nth-child(3n)) {
          margin-right: 0; } }
    @media (max-width: 767px) {
      .advantage__item--pr p {
        padding-right: 26px; } }
    .advantage__item h3 {
      max-width: 100%;
      margin: 0;
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%; }
      @media (max-width: 1023px) {
        .advantage__item h3 {
          max-width: 200px;
          margin-bottom: 8px; } }
      @media (max-width: 1023px) {
        .advantage__item h3 span {
          display: block; } }
    .advantage__item p {
      margin: 0;
      font-size: 14px;
      line-height: 143%; }
      @media (max-width: 1023px) {
        .advantage__item p {
          padding-right: 5px;
          letter-spacing: 0.027em; } }
      @media (max-width: 767px) {
        .advantage__item p {
          padding-right: 0;
          letter-spacing: 0.027em; } }
  .advantage__icon {
    height: 32px;
    margin-bottom: 13px; }
    @media (max-width: 1023px) {
      .advantage__icon {
        margin-bottom: 11px;
        height: 27px; } }
    @media (max-width: 767px) {
      .advantage__icon {
        margin-bottom: 12px;
        height: 25px; } }

.nearest-cruises {
  padding: 108px 0 92px; }
  @media (max-width: 1023px) {
    .nearest-cruises {
      padding: 89px 0 74px; } }
  @media (max-width: 767px) {
    .nearest-cruises {
      padding: 55px 0 34px; } }
  .nearest-cruises__container {
    padding: 0 88px; }
    @media (max-width: 1023px) {
      .nearest-cruises__container {
        padding: 0 50px; } }
    @media (max-width: 767px) {
      .nearest-cruises__container {
        padding: 0 16px; } }
  .nearest-cruises h2 {
    margin: 0 auto 50px;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    max-width: 100%;
    text-align: center; }
    @media (max-width: 1023px) {
      .nearest-cruises h2 {
        margin-bottom: 50px;
        max-width: 100%;
        font-size: 26px; } }
    @media (max-width: 767px) {
      .nearest-cruises h2 {
        margin: 0 auto 34px;
        max-width: 100%;
        font-size: 24px;
        line-height: 140%; } }
  .nearest-cruises__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden; }
  .nearest-cruises__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-bottom: 30px;
    max-width: calc(25% - 23px);
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .nearest-cruises__item:not(:nth-child(4n)) {
      margin-right: 30px; }
    @media (max-width: 1200px) {
      .nearest-cruises__item {
        max-width: calc(100% / 3 - 20px); }
        .nearest-cruises__item:not(:nth-child(4n)) {
          margin-right: 0; }
        .nearest-cruises__item:not(:nth-child(3n)) {
          margin-right: 30px; } }
    @media (max-width: 1023px) {
      .nearest-cruises__item {
        max-width: calc(50% - 15px); }
        .nearest-cruises__item:not(:nth-child(4n)) {
          margin-right: 0; }
        .nearest-cruises__item:not(:nth-child(3n)) {
          margin-right: 0; }
        .nearest-cruises__item:not(:nth-child(2n)) {
          margin-right: 30px; } }
    @media (max-width: 520px) {
      .nearest-cruises__item {
        margin-bottom: 31px;
        max-width: 100%; }
        .nearest-cruises__item:not(:nth-child(4n)) {
          margin-right: 0; }
        .nearest-cruises__item:not(:nth-child(3n)) {
          margin-right: 0; }
        .nearest-cruises__item:not(:nth-child(2n)) {
          margin-right: 0; } }

.cruise {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 385px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .cruise:focus .cruise__info, .cruise:hover .cruise__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    opacity: 1;
    padding: 0 25px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s; }
    @media (max-width: 1023px) {
      .cruise:focus .cruise__info, .cruise:hover .cruise__info {
        padding: 0 37px 0 33px; } }
    @media (max-width: 767px) {
      .cruise:focus .cruise__info, .cruise:hover .cruise__info {
        padding: 0 25px; } }
  .cruise:focus .cruise__inner, .cruise:hover .cruise__inner {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
    width: 100%;
    height: 100%;
    color: #f9fbfd;
    background-color: #011c40;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .cruise:focus .cruise__inner h3, .cruise:hover .cruise__inner h3 {
      padding: 29px 27px 15px 27px; }
      @media (max-width: 1023px) {
        .cruise:focus .cruise__inner h3, .cruise:hover .cruise__inner h3 {
          padding: 27px 35px 15px; } }
      @media (max-width: 767px) {
        .cruise:focus .cruise__inner h3, .cruise:hover .cruise__inner h3 {
          padding: 30px 26px 15px; } }
  .cruise img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .cruise__info {
    position: relative;
    height: 0;
    opacity: 0;
    padding: 0 30px; }
  .cruise__inner {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 100%;
    height: 385px; }
    .cruise__inner h3 {
      margin: 0;
      padding: 21px 30px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #f9fbfd;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media (max-width: 1023px) {
        .cruise__inner h3 {
          padding: 25px 35px; } }
      @media (max-width: 767px) {
        .cruise__inner h3 {
          padding: 16px 26px; } }
  .cruise__link {
    display: block;
    margin-top: auto;
    margin-bottom: 33px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    border: none;
    border-radius: 0;
    color: #011c40;
    background-color: #f9fbfd;
    text-decoration: none; }
    .cruise__link:focus, .cruise__link:hover {
      opacity: 0.5; }
    @media (max-width: 1023px) {
      .cruise__link {
        margin-top: 23px; } }
    @media (max-width: 767px) {
      .cruise__link {
        margin-top: 24px; } }
  .cruise__item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 140%; }
    @media (max-width: 767px) {
      .cruise__item {
        margin-bottom: 9px; } }
  .cruise__item-title {
    margin-bottom: 4px;
    font-weight: 500; }
  .cruise__item-val {
    overflow: hidden;
    max-height: 40px; }

.booking {
  padding: 50px 0;
  background-image: url("../img/booking/booking.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #daf2fe; }
  @media (max-width: 1023px) {
    .booking {
      padding: 88px 0 100px;
      background-image: url("../img/booking/booking-tablet.jpg"); } }
  @media (max-width: 767px) {
    .booking {
      padding: 58px 0 65px;
      background-image: url("../img/booking/booking-mob.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .booking {
      background-image: url("../img/booking/booking-mob@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    .booking {
      background-image: url("../img/booking/booking-tablet@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .booking {
      background-image: url("../img/booking/booking@2x.jpg"); } }
  .booking__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .booking h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 150%;
    font-weight: bold;
    text-align: left; }
    @media (max-width: 1023px) {
      .booking h2 {
        margin: 0;
        margin-bottom: 5px;
        max-width: 100%;
        font-size: 34px;
        line-height: 150%;
        text-align: center; } }
    @media (max-width: 767px) {
      .booking h2 {
        max-width: 200px;
        margin: 0 auto 14px;
        font-size: 24px;
        line-height: 130%;
        text-align: center; } }
  .booking p {
    max-width: 343px;
    margin: 0 auto 0 0;
    text-align: left; }
    @media (max-width: 1023px) {
      .booking p {
        max-width: 340px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 150%;
        text-align: center; } }
    @media (max-width: 767px) {
      .booking p {
        margin: 0 auto;
        font-size: 16px;
        line-height: 140%;
        text-align: center; } }
    @media (max-width: 767px) {
      .booking p span {
        display: block; } }
  .booking__info {
    width: 50%;
    padding-left: 60px;
    margin-top: -10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1023px) {
      .booking__info {
        margin: 0 auto 50px;
        padding: 0;
        width: 100%;
        text-align: center; } }
    @media (max-width: 767px) {
      .booking__info {
        margin: 0 auto 35px; } }
  .booking__wrapper {
    max-width: 305px; }
  .booking__form {
    margin: 0 auto;
    width: 50%;
    padding-left: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1023px) {
      .booking__form {
        width: 100%;
        padding-left: 0; } }

.contacts {
  padding: 120px 0 110px; }
  @media (max-width: 1023px) {
    .contacts {
      padding: 100px 0 91px; } }
  @media (max-width: 767px) {
    .contacts {
      padding: 37px 0 57px; } }
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__map {
    width: 48%;
    overflow: hidden; }
    @media (max-width: 1023px) {
      .contacts__map {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        width: 48%; } }
    @media (max-width: 767px) {
      .contacts__map {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        height: 100%; } }
    .contacts__map img {
      max-width: 100%;
      width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover; }
  .contacts__info {
    width: 43%;
    padding-top: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1023px) {
      .contacts__info {
        width: 48%;
        padding-top: 13px; } }
    @media (max-width: 767px) {
      .contacts__info {
        padding-top: 21px;
        width: 100%; } }
  .contacts p {
    margin: 0 0 29px 0;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500; }
    @media (max-width: 767px) {
      .contacts p {
        margin-bottom: 28px;
        padding-right: 2px;
        letter-spacing: 0.001em; } }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 150%;
    color: #011c40;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .contacts__link:focus, .contacts__link:hover {
      opacity: 0.5; }
    @media (max-width: 1023px) {
      .contacts__link {
        line-height: 130%; } }
    @media (max-width: 767px) {
      .contacts__link {
        margin-bottom: 20px;
        line-height: 150%; } }
  .contacts__text {
    width: 90%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 767px) {
      .contacts__text span {
        display: block; } }
  .contacts__icon {
    margin-right: 9px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (max-width: 1023px) {
    .social__item {
      margin-top: 3px; } }
  @media (max-width: 767px) {
    .social__item {
      margin-top: 0; } }
  .social__item:not(:last-child) {
    margin-right: 33px; }
    @media (max-width: 1023px) {
      .social__item:not(:last-child) {
        margin-right: 20px; } }
    @media (max-width: 767px) {
      .social__item:not(:last-child) {
        margin-right: 18px; } }
  .social__item svg {
    height: 20px; }
    @media (max-width: 1023px) {
      .social__item svg {
        height: 16px; } }
  .social__link:focus, .social__link:hover {
    opacity: 0.5; }

.map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 309px;
  background-image: url("../img/contacts/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media (max-width: 1023px) {
    .map {
      min-height: 336px;
      background-image: url("../img/contacts/map-table.jpg"); } }
  @media (max-width: 767px) {
    .map {
      min-height: 333px;
      background-image: url("../img/contacts/map-mob.jpg"); } }

.form {
  margin: 0 auto;
  padding: 45px 48px 50px;
  background-color: #011c40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 767px) {
    .form {
      padding: 35px 30px 40px; } }
  .form__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #f9fbfd;
    text-align: left; }
    @media (max-width: 1023px) {
      .form__title {
        margin-bottom: 30px;
        text-align: left; } }
    @media (max-width: 767px) {
      .form__title {
        margin-bottom: 28px;
        text-align: center; } }
    @media (max-width: 767px) {
      .form__title span {
        display: block; } }
  .form label {
    margin-bottom: 20px;
    color: #f9fbfd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 767px) {
      .form label {
        margin-bottom: 20px; } }
  .form label[for="check"] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    font-size: 10px;
    line-height: 130%; }
    @media (max-width: 1023px) {
      .form label[for="check"] {
        line-height: 190%;
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .form label[for="check"] {
        margin-bottom: 28px;
        letter-spacing: 0.04em;
        line-height: 110%; } }
  .form input[type="text"],
  .form input[type="email"] {
    padding: 9px 14px;
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: #f9fbfd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .form input[type="text"]:focus, .form input[type="text"]:hover,
    .form input[type="email"]:focus,
    .form input[type="email"]:hover {
      border: 2px solid #bce0fa; }
  .form input[type="checkbox"]:not(:checked),
  .form input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .form input[type="checkbox"]:not(:checked) + span,
  .form input[type="checkbox"]:checked + span {
    position: relative;
    padding-left: 27px;
    cursor: pointer; }
  .form input[type="checkbox"]:not(:checked) + span::before,
  .form input[type="checkbox"]:checked + span::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -1px;
    width: 21px;
    height: 22px;
    border: 2px solid #101a56;
    background: #f9fbfd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form input[type="checkbox"]:focus + span::before,
  .form input[type="checkbox"]:hover + span::before {
    border: 2px solid #bce0fa; }
  .form input[type="checkbox"]:not(:checked) + span::after,
  .form input[type="checkbox"]:checked + span::after {
    content: " ";
    position: absolute;
    top: 0.5em;
    left: 0.3em;
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/icons/icon-check.svg");
    color: #011c40;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .form input[type="checkbox"]:not(:checked) + span::after {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  .form input[type="checkbox"]:checked + span::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .form button[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    padding: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    border: none;
    border-radius: 0;
    color: #011c40;
    background-color: #f9fbfd;
    cursor: pointer; }
    .form button[type="submit"]:focus, .form button[type="submit"]:hover {
      opacity: 0.5; }
    @media (max-width: 1023px) {
      .form button[type="submit"] {
        margin-top: 10px; } }
    @media (max-width: 767px) {
      .form button[type="submit"] {
        margin-top: 0; } }

.page-footer {
  padding: 50px 0;
  background-color: #011c40; }
  @media (max-width: 1023px) {
    .page-footer {
      padding: 42px 0; } }
  @media (max-width: 767px) {
    .page-footer {
      padding: 40px 0 33px; } }
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .page-footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .page-footer__logo {
    margin-right: 40px; }
    @media (max-width: 1200px) {
      .page-footer__logo {
        margin-right: 25px; } }
    @media (max-width: 1023px) {
      .page-footer__logo {
        margin-right: 21px; } }
    @media (max-width: 767px) {
      .page-footer__logo {
        margin-right: 0; } }
    @media (max-width: 1023px) {
      .page-footer__logo img {
        height: 22px;
        padding-top: 8px; } }
    @media (max-width: 767px) {
      .page-footer__logo img {
        padding-top: 0; } }
  .page-footer__nav {
    margin: 0; }
    @media (max-width: 1023px) {
      .page-footer__nav {
        margin-top: 8px;
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .page-footer__nav {
        margin-top: 10px;
        margin-bottom: 8px; } }
  .page-footer__social {
    margin-left: auto; }
    @media (max-width: 767px) {
      .page-footer__social {
        margin-left: 0; } }
