@charset "UTF-8";
:root {
  --padding-and-margin: 1.25rem;
  --padding: 0.72rem 1.25rem 0.7rem;
  --mb: 1.25rem;
  --border-radius: 5px;
  --line-height-num: 3;
  --count-column: 4; }

/**
 * Rem-converter mixin to convert px to rem
 */
/**
 * Usages
 */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

@font-face {
  font-family: "Google Sans Regular", Arial, sans-serif;
  font-display: auto;
  src: url("../fonts/GoogleSans-Regular.woff2") format("woff2"), url("../fonts/GoogleSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Google Sans Bold", Arial, sans-serif;
  font-display: auto;
  src: url("../fonts/GoogleSans-Bold.woff2") format("woff2"), url("../fonts/GoogleSans-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Regular", Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #1a1a1a;
  scroll-behavior: smooth; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: "Google Sans Regular", Arial, sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: normal; }

a:not([class*='']) {
  text-decoration: none; }

.wrapper {
  width: 100%;
  min-height: 100%; }

.main {
  min-height: calc(100% - 400px);
  overflow-x: hidden; }

.box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.overlay {
  overflow: hidden;
  height: 100vh; }

.scroll-content {
  overflow-y: auto;
  height: 100%; }

.active {
  max-height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: visible; }

.closed {
  max-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden; }

.no-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.small {
  font-size: 65%; }
  @media (min-width: 767px) {
    .small {
      font-size: 80%; } }

.dropdown-menu {
  padding: 1rem 0; }

.dropdown-menu.show {
  -webkit-transform: translate3d(0, 30px, 0px) !important;
          transform: translate3d(0, 30px, 0px) !important; }

.dropdown-item.link {
  display: block;
  color: #008dca; }

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #0075ab; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.contacts__info {
  min-height: 20rem; }
  @media (min-width: 769px) {
    .contacts__info {
      min-height: 40rem; } }

.link {
  color: #008dca; }

.page-header {
  position: relative;
  background-color: #0075ab;
  border-bottom: 1px solid #dcdfe6; }
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: calc(var(--padding-and-margin) / 2) 0; }
  .page-header__search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: calc(var(--padding-and-margin) * 4) 0;
    border-top: 1px solid #dcdfe6; }

.search-form {
  position: relative;
  z-index: 2;
  width: 100%; }
  .search-form__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .search-form__title {
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    padding-bottom: calc(var(--padding-and-margin) / 2); }
  .search-form__list {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px #c1c7d3;
            box-shadow: 0 0 25px #c1c7d3; }
  .search-form__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    padding: 0; }
    .search-form__item:last-child {
      padding: 0;
      border-right: none; }
      @media (min-width: 769px) {
        .search-form__item:last-child {
          margin-right: -1px; } }
    .search-form__item:nth-child(5) {
      border-right: none; }
    @media (min-width: 769px) {
      .search-form__item {
        width: 33.33333%; } }
    @media (min-width: 900px) {
      .search-form__item {
        width: 33.33333%; } }
    @media (min-width: 1200px) {
      .search-form__item {
        width: 16.66667%; } }
    @media (max-width: 599px) {
      .search-form__item {
        border-right: none; }
        .search-form__item:first-child .search-form__item-inner {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px; } }
    @media (min-width: 769px) {
      .search-form__item:first-child .search-form__item-inner {
        border-top-left-radius: 10px; }
      .search-form__item:nth-child(3) .search-form__item-inner {
        border-top-right-radius: 10px; }
      .search-form__item:nth-child(4) .search-form__item-inner {
        border-bottom-left-radius: 10px; } }
    @media (min-width: 1200px) {
      .search-form__item:first-child .search-form__item-inner {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px; }
      .search-form__item:nth-child(3) .search-form__item-inner {
        border-top-right-radius: 0; }
      .search-form__item:nth-child(4) .search-form__item-inner {
        border-bottom-left-radius: 0; } }
  .search-form__item-inner {
    position: relative;
    z-index: 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #dcdfe6;
    -webkit-box-shadow: 0 25px 25px -25px #c1c7d3;
            box-shadow: 0 25px 25px -25px #c1c7d3;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    @media (max-width: 768px) {
      .search-form__item-inner {
        height: auto; } }
  .search-form__field {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: calc(var(--padding-and-margin) / 2) 0;
    background-color: #ffffff; }
  .search-form__val {
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    padding-right: 30px;
    width: 100%;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    font-size: small;
    border: none;
    background-repeat: no-repeat;
    background-position: 100% 50%; }
    .search-form__val--icon-one {
      background-image: url("../img/icons/icon-search_where.svg"); }
    .search-form__val--icon--two {
      background-image: url("../img/icons/icon-search_adlt.svg"); }
    .search-form__val--icon-adlt {
      background-image: url("../img/icons/icon-search_adlt.svg");
      background-position: 95% 0; }
    .search-form__val--icon--kids {
      background-image: url("../img/icons/icon-search_kids.svg");
      background-position: 95% 0; }
  .search-form__btn-icon {
    position: absolute;
    bottom: 19px;
    right: 7px;
    width: 1rem;
    height: 1rem;
    fill: #0075ab;
    background-color: #fff; }
  .search-form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: calc(var(--padding-and-margin) / 2);
    border: none; }
    .search-form__group-title {
      padding-top: calc(var(--padding-and-margin) / 2);
      font-family: "Google Sans Bold", Arial, sans-serif;
      font-weight: 600;
      font-size: inherit; }
    .search-form__group-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-left: -15px;
      margin-right: -15px; }
    .search-form__group-item {
      padding-left: 15px;
      padding-right: 15px;
      width: 50%; }
    .search-form__group-field {
      position: relative;
      padding: calc(var(--padding-and-margin) / 2) 0; }
  .search-form__btn-submit {
    width: 100%;
    height: 100%;
    border: none; }
  .search-form__inner-options {
    position: absolute;
    z-index: 0;
    top: 74px;
    left: 0; }
  .search-form__options {
    position: absolute;
    z-index: 7;
    top: 85%;
    left: 0;
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px; }
    @media (max-width: 1199px) {
      .search-form__options {
        z-index: 9; } }
    @media (max-width: 768px) {
      .search-form__options {
        position: relative;
        z-index: 5;
        top: 0;
        left: 0;
        width: auto; } }
    @media (max-width: 599px) {
      .search-form__options {
        left: -10px; } }
    .search-form__options.closed {
      height: 0;
      overflow: hidden;
      pointer-events: none;
      -webkit-animation-name: close-opacity;
              animation-name: close-opacity;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
    .search-form__options.active {
      height: 150px;
      overflow: visible;
      overflow-y: auto;
      pointer-events: all;
      -webkit-animation-name: open-opacity;
              animation-name: open-opacity;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
      @media (max-width: 768px) {
        .search-form__options.active {
          position: relative;
          top: 0;
          left: 0;
          height: auto;
          max-height: 200px; } }
    .search-form__options-list {
      list-style: none;
      margin: 0;
      padding: 0;
      padding: var(--padding-and-margin) 0; }
    .search-form__options-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: calc(var(--padding-and-margin) / 2);
      color: #808080;
      cursor: pointer; }
      .search-form__options-item:focus, .search-form__options-item:hover {
        background-color: rgba(154, 154, 154, 0.25); }

.search-form .btn {
  font-family: "Google Sans Bold", Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  border: none; }

.search-form .btn:not([type="submit"]),
.search-form .custom-select {
  font-family: "Google Sans Bold", Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  border: none;
  text-align: left; }

.card {
  display: block;
  margin-bottom: 1.25rem;
  color: #1a1a1a; }
  .card:focus, .card:hover {
    color: #1a1a1a; }
    .card:focus .card__inner, .card:hover .card__inner {
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-box-shadow: 0 0 25px #dcdfe6;
              box-shadow: 0 0 25px #dcdfe6; }
  .card__inner {
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    overflow: hidden; }
  .card__header {
    position: relative; }
  .card__info {
    padding: var(--padding-and-margin) calc(var(--padding-and-margin) / 2); }
  .card__info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.25rem; }
  .card__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: calc(var(--padding-and-margin) / 2); }
  .card__info-icon {
    width: 1.25rem;
    margin-right: 0.625rem; }
  .card__info-val {
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600; }
    .card__info-val--price {
      color: #cc3300; }
  .card__pic {
    height: 12.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0075ab; }
  .card__icon-hot {
    position: absolute;
    bottom: -20px;
    right: 0.625rem;
    width: 2.5rem;
    height: 2.5rem; }
  .card__title {
    display: inline-block;
    margin-bottom: 1.25rem;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    color: #0075ab; }
    @media (min-width: 375px) {
      .card__title {
        font-size: calc(0.32362vw + 18.78641px); } }
    @media (min-width: 1920px) {
      .card__title {
        font-size: 25px; } }
  .card__val {
    margin-bottom: 1.25rem;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600; }
    .card__val--price {
      font-size: 20px;
      color: #cc3300; }
      @media (min-width: 375px) {
        .card__val--price {
          font-size: calc(0.32362vw + 18.78641px); } }
      @media (min-width: 1920px) {
        .card__val--price {
          font-size: 25px; } }
  .card__button {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 18px; }
    @media (min-width: 375px) {
      .card__button {
        font-size: calc(-1.53061vw + 23.7398px); } }
    @media (min-width: 767px) {
      .card__button {
        font-size: calc(0vw + 12px); } }
    @media (min-width: 1170px) {
      .card__button {
        font-size: calc(1.73913vw - 8.34783px); } }
    @media (min-width: 1400px) {
      .card__button {
        font-size: 16px; } }

.purchase-stages {
  padding: var(--padding-and-margin) 0; }
  .purchase-stages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 77.8125rem;
    list-style: none;
    margin: 0;
    padding: 0; }
  .purchase-stages__item {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: calc(var(--padding-and-margin) / 2);
    margin-bottom: 1.25rem;
    text-align: center; }
    @media (min-width: 900px) {
      .purchase-stages__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%; } }
    @media (min-width: 1200px) {
      .purchase-stages__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
                flex: 0 0 20%; } }
    .purchase-stages__item::before {
      content: "";
      position: absolute;
      z-index: 4;
      top: 60px;
      right: 70%;
      width: 200px;
      height: 2px;
      border: 2px dashed #1a1a1a; }
    .purchase-stages__item::after {
      content: "";
      position: absolute;
      top: 55px;
      right: 68.5%;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      background-image: url("../img/icons/icon-path_arrow.svg"); }
  .purchase-stages__icon {
    z-index: 5;
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
    margin-bottom: var(--padding-and-margin); }
  .purchase-stages__title {
    margin-bottom: 1.25rem;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    font-size: 20px; }
    @media (min-width: 375px) {
      .purchase-stages__title {
        font-size: calc(0.32362vw + 18.78641px); } }
    @media (min-width: 1920px) {
      .purchase-stages__title {
        font-size: 25px; } }
  .purchase-stages__info {
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    line-height: normal; }
  .purchase-stages__path-plane {
    position: absolute;
    top: 0;
    right: -80px; }
    .purchase-stages__path-plane::before {
      content: "";
      position: absolute;
      z-index: 4;
      top: 60px;
      right: 70%;
      width: 200px;
      height: 2px;
      border: 2px dashed #1a1a1a; }
    .purchase-stages__path-plane::after {
      content: "";
      position: absolute;
      top: 38px;
      right: 68.5%;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-image: url("../img/icons/icon-path_plane.svg"); }

.number {
  margin-bottom: var(--padding-and-margin);
  font-family: "Google Sans Bold", Arial, sans-serif;
  font-weight: 600; }
  .number__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: var(--padding-and-margin); }
  .number__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: var(--padding-and-margin) 0;
    border-bottom: 1px solid #dcdfe6; }
  .number__icon {
    width: 3rem;
    height: 3rem; }
  .number__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    font-size: 14px; }
    @media (min-width: 375px) {
      .number__info {
        font-size: calc(0.38835vw + 12.54369px); } }
    @media (min-width: 1920px) {
      .number__info {
        font-size: 20px; } }
  .number__count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    font-size: 40px;
    line-height: normal; }
    @media (min-width: 375px) {
      .number__count {
        font-size: calc(5.50162vw + 19.36893px); } }
    @media (min-width: 1920px) {
      .number__count {
        font-size: 125px; } }
  .number__footer {
    text-align: center; }
    .number__footer-price {
      font-size: 40px;
      line-height: normal;
      color: #cc3300; }
      @media (min-width: 375px) {
        .number__footer-price {
          font-size: calc(4.53074vw + 23.00971px); } }
      @media (min-width: 1920px) {
        .number__footer-price {
          font-size: 110px; } }

.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem; }
  .accordion--bg {
    background-color: #ffffff;
    padding: 1.25rem; }
  .accordion--bg-2 {
    background-color: #f5feff;
    padding: 1.25rem; }
  .accordion__item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent; }
    .accordion__item-title--border {
      margin-bottom: calc(var(--padding-and-margin) / 2);
      border-bottom: 1px solid #dcdfe6; }
    .accordion__item-title svg {
      fill: #0075ab;
      stroke: #ffffff;
      stroke-width: 0.4;
      stroke-linejoin: round;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .accordion__item-title.collapsed svg {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg); }
  .accordion__desc {
    position: relative;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .accordion__desc.active {
      max-height: auto;
      opacity: 1;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
  .accordion__btn-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .accordion__text {
    padding: 1.25rem 0; }
    .accordion__text--border {
      margin-bottom: calc(var(--padding-and-margin) / 2);
      border-bottom: 1px solid #dcdfe6; }
  .accordion__title {
    position: relative;
    margin-right: auto;
    max-width: 90%;
    font-size: 14px;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    color: #008dca;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    @media (min-width: 375px) {
      .accordion__title {
        font-size: calc(0.38835vw + 12.54369px); } }
    @media (min-width: 1920px) {
      .accordion__title {
        font-size: 20px; } }
    .accordion__title:hover {
      cursor: pointer; }
  .accordion__title-country {
    display: block;
    margin-top: 10px;
    font-size: 80%;
    color: #808080; }
  .accordion__pic {
    width: 3rem;
    height: 3rem;
    margin-right: 0.625rem; }
  .accordion .expand-collapse {
    position: absolute;
    top: 0;
    right: -10%; }
  .accordion__description {
    position: relative;
    max-height: 0;
    line-height: normal;
    color: #1a1a1a;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out; }
    .accordion__description p {
      margin-bottom: 1.25rem; }
    .accordion__description-icon {
      position: absolute;
      top: 0;
      right: 5px; }
  .accordion__list {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 769px) {
      .accordion__list {
        padding-left: 3.625rem; } }
  .accordion__list-item {
    margin-bottom: calc(var(--padding-and-margin) / 2); }
  .accordion__list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600; }
  .accordion__list-price {
    color: #1a1a1a; }

.accordion--yellow-arrow .accordion__btn-open {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .accordion--yellow-arrow .accordion__btn-open svg {
    width: 30px;
    height: 30px;
    fill: #fed330;
    fill-rule: evenodd;
    stroke: #1a1a1a;
    stroke-width: 0.4;
    stroke-linejoin: round; }

.accordion--yellow-arrow .accordion__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  overflow: hidden; }
  .accordion--yellow-arrow .accordion__btn-close svg {
    fill: #fed330;
    fill-rule: evenodd;
    stroke: #1a1a1a;
    stroke-width: 0.4;
    stroke-linejoin: round; }

.page-footer {
  padding: 2.5rem 0;
  font-family: "Google Sans Bold", Arial, sans-serif;
  font-weight: 600;
  background-color: #1f3244;
  color: #ffffff; }
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .page-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 769px) {
      .page-footer__inner {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .page-footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1.25rem 0; }
  .page-footer__list-link {
    padding: 5px 10px;
    line-height: 1.6;
    color: #ffffff;
    text-decoration: none; }
    .page-footer__list-link:focus, .page-footer__list-link:hover {
      color: #fed330; }
  .page-footer__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto; }
  .page-footer__platform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .navigation__logo-and-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
    margin-left: 33.33333%; }
    @media (min-width: 600px) {
      .navigation__logo-and-phone {
        width: 83.33333%; } }
    @media (min-width: 769px) {
      .navigation__logo-and-phone {
        width: 66.66667%; } }
    @media (min-width: 1200px) {
      .navigation__logo-and-phone {
        width: 41.66667%; } }
    @media (min-width: 600px) {
      .navigation__logo-and-phone {
        margin-left: 16.66667%; } }
    @media (min-width: 769px) {
      .navigation__logo-and-phone {
        margin-left: 0%; } }
    @media (max-width: 768px) {
      .navigation__logo-and-phone {
        padding: 0; } }
  .navigation__logo {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%; }
    @media (min-width: 769px) {
      .navigation__logo {
        width: 33.33333%; } }
    @media (min-width: 900px) {
      .navigation__logo {
        width: 25%; } }
    @media (min-width: 1200px) {
      .navigation__logo {
        width: 33.33333%; } }
    @media (max-width: 768px) {
      .navigation__logo {
        width: 100%;
        max-width: 140px;
        padding: 0;
        display: block;
        text-align: right; } }
  .navigation__phone {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
    color: #fff; }
    @media (min-width: 769px) {
      .navigation__phone {
        width: 66.66667%; } }
    @media (min-width: 900px) {
      .navigation__phone {
        width: 75%; } }
    @media (min-width: 1200px) {
      .navigation__phone {
        width: 66.66667%; } }
    @media (max-width: 768px) {
      .navigation__phone {
        padding: 0;
        display: block;
        text-align: right; } }
    .navigation__phone span span {
      display: block; }
  .navigation__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    @media (min-width: 769px) {
      .navigation__items {
        width: 33.33333%; } }
    @media (min-width: 1200px) {
      .navigation__items {
        width: 58.33333%; } }
    @media (max-width: 768px) {
      .navigation__items {
        display: none;
        position: absolute;
        z-index: 1039;
        background-color: #0075ab;
        padding: 30px 20px;
        top: 0;
        left: 0;
        width: 300px;
        min-height: 100vh;
        right: 0;
        bottom: 0;
        padding-bottom: 70px;
        -webkit-transform: translateY(70px);
                transform: translateY(70px); }
        .navigation__items .logo {
          margin-left: 0;
          max-width: 160px; } }
    .navigation__items.active {
      display: block;
      -webkit-animation-name: open-opacity;
              animation-name: open-opacity;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s;
      overflow-y: auto; }
    .navigation__items.closed {
      display: none;
      -webkit-animation-name: close-opacity;
              animation-name: close-opacity;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
    .navigation__items .navigation__item {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%; }
      @media (min-width: 769px) {
        .navigation__items .navigation__item {
          width: 100%; } }
      @media (min-width: 1200px) {
        .navigation__items .navigation__item {
          width: 33.33333%; } }
      @media (min-width: 769px) {
        .navigation__items .navigation__item {
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          margin-bottom: 0.625rem; } }
      @media (min-width: 1200px) {
        .navigation__items .navigation__item {
          margin-bottom: 0; } }
  .navigation__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%; }
    @media (min-width: 767px) {
      .navigation__item {
        font-size: calc(0vw + 17px); } }
    @media (min-width: 768px) {
      .navigation__item {
        font-size: calc(-0.39063vw + 20px); } }
    @media (min-width: 1280px) {
      .navigation__item {
        font-size: calc(0.19231vw + 12.53846px); } }
    @media (min-width: 1800px) {
      .navigation__item {
        font-size: 16px; } }
    .navigation__item:nth-child(1) {
      display: none; }
    @media (max-width: 768px) {
      .navigation__item {
        margin-bottom: calc(var(--padding-and-margin) * 2); }
        .navigation__item:nth-child(1) {
          display: block;
          padding-top: 50px; } }
    .navigation__item svg {
      width: 1.25rem;
      height: 1.25rem;
      padding-right: 0.3rem;
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
  .navigation a:focus, .navigation a:hover {
    text-decoration: none;
    color: #ffffff; }
  .navigation__link {
    position: relative;
    display: block;
    color: #1a1a1a;
    text-decoration: none; }
    .navigation__link::before {
      opacity: 0;
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(-10%, -50%);
              transform: translate(-10%, -50%);
      width: 20px;
      height: 10px;
      background-image: url("../img/icons/icon-menu_arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .navigation__link:focus, .navigation__link:hover {
      color: #0075ab; }
      .navigation__link:focus:before, .navigation__link:hover:before {
        opacity: 1;
        -webkit-transform: translate(10%, -50%);
                transform: translate(10%, -50%);
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
  .navigation__icon {
    width: 1.25rem;
    padding-right: 0.3125rem;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }

.navigation__toggle {
  display: none; }
  @media (max-width: 768px) {
    .navigation__toggle {
      display: block; } }

.navigation--closed {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1040;
  width: 30px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: 0; }
  .navigation--closed svg rect:first-child {
    -webkit-transform: rotate(45deg) translateX(1.5px);
            transform: rotate(45deg) translateX(1.5px); }
  .navigation--closed svg rect:nth-child(2) {
    opacity: 0; }
  .navigation--closed svg rect:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateX(-5.5px);
            transform: rotate(-45deg) translateX(-5.5px); }

.navigation--opened {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  width: 30px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none; }
  .navigation--opened svg rect:first-child {
    -webkit-transform: rotate(0deg) translateX(0);
            transform: rotate(0deg) translateX(0); }
  .navigation--opened svg rect:nth-child(2) {
    opacity: 1; }
  .navigation--opened svg rect:nth-child(3) {
    -webkit-transform: rotate(0deg) translateX(0);
            transform: rotate(0deg) translateX(0); }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none; }

.navigation__list li {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 1.25rem; }

.navigation__list a {
  display: block;
  padding: 0.625rem;
  line-height: normal;
  text-decoration: none;
  line-height: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 767px) {
    .navigation__list a {
      font-size: calc(0vw + 17px); } }
  @media (min-width: 768px) {
    .navigation__list a {
      font-size: calc(-0.39063vw + 20px); } }
  @media (min-width: 1280px) {
    .navigation__list a {
      font-size: calc(0.19231vw + 12.53846px); } }
  @media (min-width: 1800px) {
    .navigation__list a {
      font-size: 16px; } }

@media (max-width: 47.9375rem) {
  .navigation--closed .navigation__list {
    height: 60px;
    visibility: hidden; }
  .navigation--closed .js-logo {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    visibility: visible; }
  .navigation--closed .navigation__wrapper {
    position: relative;
    min-height: 60px; }
  .navigation--nojs .navigation__wrapper {
    position: static; }
  .navigation.navigation--opened .navigation__wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden; }
  .navigation.navigation--opened .navigation__list {
    display: block;
    height: auto;
    padding: 2.5rem 0.9375rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .navigation.navigation--opened .navigation__list .navigation__list li {
      margin-bottom: 0.625rem;
      padding: 0.625rem 0.625rem 0.625rem 1.25rem; }
    .navigation.navigation--opened .navigation__list .navigation__list a {
      font-size: 16px;
      color: #ffffff;
      text-align: left; } }

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--padding-and-margin) 0;
  scroll-behavior: smooth; }
  @media (min-width: 900px) {
    .section {
      padding: calc(var(--padding-and-margin) * 2) 0; } }
  .section--bg-1 {
    position: relative;
    min-height: 37.5rem;
    background-color: #0075ab;
    background-image: url("../img/bg/bg-1-425.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    @media (min-width: 769px) {
      .section--bg-1 {
        background-image: url("../img/bg/bg-1-900.png"); } }
    @media (min-width: 900px) {
      .section--bg-1 {
        background-image: url("../img/bg/bg-1-1200.png"); } }
    @media (min-width: 1200px) {
      .section--bg-1 {
        background-image: url("../img/bg/bg-1.png"); } }
    .section--bg-1::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20rem;
      background-image: url("../img/bg/bg-11-425.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 50% 50%; }
      @media (min-width: 769px) {
        .section--bg-1::before {
          background-image: url("../img/bg/bg-11-900.png"); } }
      @media (min-width: 900px) {
        .section--bg-1::before {
          background-image: url("../img/bg/bg-11-1200.png"); } }
      @media (min-width: 1200px) {
        .section--bg-1::before {
          background-image: url("../img/bg/bg-11.png"); } }
  .section--bg-3 {
    background-color: #fefaee;
    background-image: url("../img/bg/bg-4-425.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden; }
    @media (min-width: 769px) {
      .section--bg-3 {
        background-image: url("../img/bg/bg-4-900.jpg"); } }
    @media (min-width: 900px) {
      .section--bg-3 {
        background-image: url("../img/bg/bg-4-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -2px 136%; } }
    @media (min-width: 1200px) {
      .section--bg-3 {
        background-image: url("../img/bg/bg-4.jpg"); } }
  .section--bg-4 {
    background-color: #f5f5f5; }
  .section--bg-6 {
    background-color: #ffffff; }
  .section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px; }
  .section__col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    @media (min-width: 769px) {
      .section__col {
        width: 50%; } }
  .section__title {
    margin-bottom: 1.25rem;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: normal; }
    @media (min-width: 375px) {
      .section__title {
        font-size: calc(1.2945vw + 25.14563px); } }
    @media (min-width: 1920px) {
      .section__title {
        font-size: 50px; } }
    .section__title--h1 {
      font-size: 30px; }
      @media (min-width: 375px) {
        .section__title--h1 {
          font-size: calc(2.589vw + 20.29126px); } }
      @media (min-width: 1920px) {
        .section__title--h1 {
          font-size: 70px; } }
  .section__title-block {
    margin-bottom: 1.25rem;
    font-family: "Google Sans Bold", Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: normal; }
    @media (min-width: 375px) {
      .section__title-block {
        font-size: calc(0.64725vw + 27.57282px); } }
    @media (min-width: 1920px) {
      .section__title-block {
        font-size: 40px; } }
  .section .container {
    position: relative; }
  .section__link {
    position: absolute;
    top: 0;
    right: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #0075ab;
    line-height: normal;
    text-decoration: none; }
    @media (max-width: 599px) {
      .section__link {
        right: 1rem; }
        .section__link .section__icon {
          display: none; } }
    .section__link:focus .section__icon, .section__link:hover .section__icon {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
  .section__icon {
    margin-left: 0.625rem;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0; }
  .section__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: var(--mb);
    max-width: calc(100% / var(--count-column) - var(--padding-and-margin)); }
    @media (max-width: 599px) {
      .section__item {
        --count-column: 1;
        --padding-and-margin: 0; } }
    @media (min-width: 769px) {
      .section__item {
        margin-right: var(--padding-and-margin);
        --count-column: 2; } }
    @media (min-width: 900px) {
      .section__item {
        --count-column: 3; } }
    @media (min-width: 1200px) {
      .section__item {
        --count-column: 4; } }
  .section #map {
    width: 40%; }
    @media (max-width: 900px) {
      .section #map {
        height: 350px;
        width: 100%;
        margin-bottom: 0;
        overflow: hidden; } }

.section__btn {
  z-index: 3;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  scroll-behavior: smooth; }

.section__btn svg {
  width: 30px;
  height: 30px; }

.section .swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.promo-slider {
  min-height: 30rem;
  background-color: #0075ab; }
  .promo-slider .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

/* Модальное окно с выбором туристов */
.modal-dialog {
  margin-top: 10%; }

.tc_content > span {
  font-family: Open Sans, Trebuchet MS, arial, sans-serif;
  font-weight: 700;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  text-anchor: middle; }

.tc_TouristsPanel {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc; }

.tc_TouristElement {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-top: 10px; }

.tc_TouristAction {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #efefef;
  cursor: pointer; }

.tc_TouristCount {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans, Trebuchet MS, arial, sans-serif;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  text-align: center;
  text-anchor: middle; }

.tc_SubmitButton {
  background-color: #fff;
  font-size: 13px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 90%;
  height: 40px;
  color: #777;
  padding: 0;
  margin: 20px auto;
  border: 1px solid #ddd;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  text-shadow: none;
  float: none;
  cursor: pointer; }

.tc_SubmitButton.tc_ButtonActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #185584;
  border-color: #185584;
  margin: 10px auto;
  font-family: Open Sans, Trebuchet MS, arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center; }

.tc_TouristButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans, Trebuchet MS, arial, sans-serif;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  text-align: center;
  text-anchor: middle; }

.tc_TouristPickElement {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-top: 10px;
  padding: 5px; }

.tc_pickHeader {
  width: 100%;
  height: auto;
  padding: 10px; }

.tc_pickAge {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 40px;
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc; }

.tc_symbol {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 900; }

.modal-body-turistic {
  padding: 15px 0; }

.modal-backdrop {
  display: none; }

.search-form__val {
  background-color: #fff; }

.search-form__turist button {
  border: none; }

/* Конец - Модальное окно с выбором туристов*/
